{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Voty - Your Network for Rankings">
    <meta name="keywords" content="Votings, Rankings, Vote, Rank">
    <meta name="author" content="Frederik vom Lehn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css "href="{% static 'voting/main.css' %}">
    <script src="https://kit.fontawesome.com/36197ad289.js" crossorigin="anonymous"></script>
    {% if title %}
        <title>{{Title}}</title>
    {% else %}
         <title>Voty</title>
    {% endif %}
</head>
<body>
<fieldset>
    <a href="{% url 'list-of-votings' %}">All Votings</a>
        {% if user.is_authenticated %}
            <a href="{% url 'list-of-votings-userrestricted' %}">My Votings</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' %}">Profile</a>
            {% if user.is_superuser %}
                <a href="/admin">Admin</a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
</fieldset>


{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}

{% block content %}

{% endblock %}
</body>
</html>