{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Voty">
    <meta name="keywords" content="Voty">
    <meta name="author" content="Frederik vom Lehn">
    <link rel="stylesheet" type="text/css "href="{% static 'voting/main.css' %}">
    <meta charset="UTF-8">
    {% if title %}
        <title>{{Title}}</title>
    {% else %}
         <title>Voty</title>
    {% endif %}
</head>
<body>
<fieldset>
    <a href="{% url 'list-of-votings' %}">All Votings</a>
        {% if user.is_authenticated %}
            <a href="{% url 'list-of-votings-userrestricted' %}">My Votings</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'profile' %}">Profile</a>
            {% if user.is_superuser %}
                <a href="/admin">Admin</a>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
</fieldset>


{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}

{% block content %}

{% endblock %}
</body>
</html>