{% extends "voting/base.html" %}
{% load static %}
{% block extrahead %}
        <link rel="stylesheet" type="text/css "href="{% static 'voting/create-voting.css' %}">
{% endblock %}
{% block content %}

      <div class="create-voting-content">

        <h1>Add voting items</h1>
        <form method = "POST" >
            {% csrf_token %}

           {{ form.non_field_errors }}
                      <table>
                            <tr>
                                <div class="fieldWrapper">
                                    <th><label for="{{ form.title.id_for_label }}">Title:</label></th>
                                    <td>{{ form.title }}</td>
                                </div>
                            </tr>
                            {{ form.title.errors }}
                            <tr>
                                <div class="fieldWrapper">
                                    <th><label for="{{ form.description.id_for_label }}">Description:</label></th>
                                    <td>{{ form.description }}</td>
                                </div>
                            </tr>
                            {{ form.description.errors }}
                            <tr>
                                <div class="fieldWrapper">
                                    <th><label for="{{ form.link.id_for_label }}">Link:</label></th>
                                    <td>{{ form.link }}</td>
                                </div>
                            </tr>
                            {{ form.link.errors }}

                      </table>
                    <div class="submit-btn">
                      <button type="submit">Add Item</button>
                    </div>

        </form>
    </div>


{% endblock content %}